<h1> <%= @task.name %> </h1>

<p><%= @task.description %> </p>
<p><%= @task.status %> </p>
<p><%= @task.performer %> </p>
<p><%= @task.completed %> </p>

<p> Creator: <i> <%= @task.creator %> </i> </p>
<small><i><%= @task.created_at.in_time_zone('Moscow').strftime('%H:%m %d.%m.%Y') %> </i> </small>
<hr>
<p> <%= link_to 'Edit', edit_task_path(@task) %> </p>
<p> <%= button_to 'Delete', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' } %> </p>
<p> <%= link_to 'Back', root_path %> </p>
